@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tektur:wght@400..900&display=swap');

:root {
    --fonte-primaria: "Tektur", sans-serif;
    --fonte-secundaria: "Chakra Petch", sans-serif;
    --Vermelho-claro: rgb(61, 61, 174);
    --Vermelho: rgb(34, 175, 76);
    --Vermelho-Sangue: rgb(181, 0, 0);
    --Vermelho-escuro: rgb(255, 0, 0);
    --Preto-bean: rgb(30, 99, 0);
    --Preto-bean-2: #290000ff;
    --Preto: #000000;
    --Branco: #f1f1f1;
}

body{
    background-color: var(--Vermelho);
    color: var(--Branco);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: italic;
    
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    font-family: var(--fonte-primaria);
    text-align: left;
    width: 100%;
    font-size: 36px;
}

span{
    color: var(--Vermelho-claro);
}

.botao{
    font-family: var(--fonte-primaria);
    background-color: var(--Preto-bean);
    color: var(--Branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    width: 100%;
    border-bottom: 4px solid var(--Preto-bean-2);
    border-left: 4px solid var(--Preto-bean-2);
    border-right: 4px solid var(--Preto-bean-2);
    border-top: none;
}

.botoes{
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0px 0px 40px 40px;
}

.botao.ativo{
    background-color: var(--Vermelho-claro);
    border-bottom: var(--Preto-bean)
}
.abas-textos{
    background-color: var(--Preto-bean);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo{
    display: block;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
font-size: 28px;
text-align: center;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--Branco);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0 ;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0
    };
}

